<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">                 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">        
        <!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#242e3e"/>
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#242e3e"/>
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#242e3e"/>
        <title>TCS iBegin</title>
        <base href="/iBegin/" />
        <link type="text/css" rel="stylesheet" href="resources/external/css/bootstrap.css"/>
        <link type="text/css" rel="stylesheet" href="resources/app/merged/final.css"/>
        <link rel="shortcut icon" href="resources/images/icons/favicon3.ico" sizes=32X32>
        <style>
        	.disable-scroll { position: fixed; overflow-y:scroll; }
        </style>
    </head>
    
    <body data-ng-controller="IndexController" id="app-body" 
    data-country="IN"
    data-country-id="101"
    data-language="EN"
    data-language-id="1"
    data-is-grs-country="Y"
    data-is-feedback-applicable="N" 
    
    data-job-share-facebook-regular="true"
    data-job-share-linkedIn-regular="true"
    data-job-share-twitter-regular="true"
    data-job-share-facebook-walkIn="true"
    data-job-share-linkedIn-walkIn="true"
    data-job-share-twitter-walkIn="true"
    
    data-facebook-login="false"
    data-google-login="true"
    data-linkedIn-login="true"
    
    data-ng-class="{'disableScroll' : sideBarOpen , 'overflow-hidden' : isHomePage() && !isMobile() }" class={{scroll}}
    >
    
    	<div id="loadingModal" data-ng-cloak>
    		<div class="modal-image">
    			<img src="resources/images/loading.gif"></img>
    		</div>
    	</div>
    	
    	<div data-ng-if="isHomePage()" class="home-page-scrolls hidden-xs hidden-sm visible-md visible-lg">

    		<div class="scroll-popup1 hand width-full" data-ng-click="gotoElement('first-fold')">
    			<div class="scrollLabelContainer" style="display:none;">
    				<div class="scrollLabel hand" data-msg data-key="prereg.label.jobsearch"></div>
    				<div class="labelTip"></div>
				</div>
				<div class="fold-scroll bot-mar-10" data-ng-click="gotoElement('first-fold')" data-ng-class="{ 'selected-scroll' : selectedSection == 'first-fold' }" ></div>
			</div>
						<div class="scroll-popup2 hand width-full" data-ng-click="gotoElement('middle-fold')">
    			<div class="scrollLabelContainer" style="display:none;">
    				<div class="scrollLabel hand" data-msg data-key="prereg.label.guided"></div>
					<div class="labelTip"></div>
				</div>
				<div class="fold-scroll bot-mar-10" data-ng-click="gotoElement('middle-fold')" data-ng-class="{ 'selected-scroll' : selectedSection == 'middle-fold' }"></div>
			</div>
									<div class="scroll-popup4 hand width-full" data-ng-click="gotoElement('footer')">
				<div class="scrollLabelContainer" style="display:none;">	
					<div class="scrollLabel hand" data-msg data-key="prereg.label.footer"></div>
					<div class="labelTip"></div>
				</div>
				<div class="fold-scroll" data-ng-click="gotoElement('footer')" data-ng-class="{ 'selected-scroll' : selectedSection == 'footer' }" ></div>
			</div>
		</div>
    	
    	<div data-ng-intro-options="IntroOptions" data-ng-intro-method="startTour"  data-ng-intro-onbeforechange="ChangeEvent" data-ng-intro-onexit="onExit" data-ng-intro-oncomplete="onComplete"
    	class="page-content" data-ng-class="{'slide' : sideBarOpen, 'noTPad' : !showHeader, 'TPad456' : countrySelectionActive&&showHeader , 'TPad445' : showJobsActive&&showHeader ,'TPad186' : ( loginActive && !alreadyLoggedIn && showHeader), 'TPad246' : ( loginActive && alreadyLoggedIn && isGrs() && showHeader) , 'TPad158' : ( loginActive && alreadyLoggedIn && !isGrs() && showHeader)}" data-ng-cloak>
    		<div class="hidden-xs hidden-sm visible-md visible-lg">
    <div class="portal-links-bar">
        <div class="container-fluid home">

            <div class="row">
                <div class="col-xs-6">

                    <ul class="nav-links">

                        <li>
                            <a href="http://www.careers.tcs.com" target="_blank">
                                <span class="flag flag-tcs-com_icon"></span>
                                <span class="portal-link-text">careers.tcs.com</span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>

    <div class="brand-container" data-ng-class="{ 'brand-container-border' : !hasBreadcrumb() }" data-ng-cloak>
        <div class="container-fluid home">
            <div class="row">

                <div class="col-md-5 brand">
                    <div class="row">

                        <div class="float-left pad-right-0 width-auto">
                            <img class="img-responsive hand" data-ng-click="goTo('/')" src="resources/images/banner/TCS-iBegin-Logo.png" alt="TCS" />
                        </div>

                    </div>

                </div>

                <div class="col-md-7 brand-menu-container" data-ng-show="!isAuthOffer()">
                    <ul class="nav-right-links">

                        <li data-ng-mouseover="countryhover=true;" data-ng-mouseout="countryhover=false;">
                            <a role="button" data-ng-click="openCountrySelection()">
                                <span class="flag {{'flag-' + selection.countryId}} margin-right-6" style="margin-top: 7px;"></span>
                                <span class="hidden-xs" data-ng-bind="selection.language"></span>
                                <span class="hidden-xs caret" data-ng-class="{'text-blue' : countryhover || (countrySelectionActive&&showHeader) , 'text-grey' : !countryhover }"></span>
                            </a>
                            <div class="header-hover-li" data-ng-class="{'display-block': countryhover || (countrySelectionActive&&showHeader) ,'display-none': !countryhover }"></div>
                        </li>

                        <li data-ng-mouseover="loghover=true;" data-ng-mouseout="loghover=false;">
							<div class="hand" data-ng-click="openLogin()">
			            		<div class="inline-block margin-right-6 header-sprite-img" style="top:3px;">
			            			<div class="sprite_header" data-ng-class="{'login-selected' : loghover || (loginActive&&showHeader) , 'login' : !loghover }"></div>
			            		</div>
			            		<div class="inline-block" style="position:relative;">
			            			<a role="button">
			                            <span class="hidden-xs name-clip" ng-show="alreadyLoggedIn" data-ng-bind="userName"></span>
			                            <span class="hidden-xs" ng-show="!alreadyLoggedIn"><span data-msg data-key="header.login"></span></span>
			                            <span class="hidden-xs caret" data-ng-class="{'text-blue' : loghover || (loginActive&&showHeader) , 'text-grey' : !loghover  }"></span>
			            			</a>
			            		</div>
			            		<div class="header-hover-li" data-ng-class="{'display-block': loghover || (loginActive&&showHeader)  ,'display-none': !loghover }"></div>
			            	</div>
                        </li>

                        <li data-ng-mouseover="savedhover=true;" data-ng-mouseout="savedhover=false;">
								<div class="hand" data-ng-click="openSavedJobs()">
			            		<div class="inline-block margin-right-6 header-sprite-img">
			            			<div class="sprite_header" data-ng-class="{'my-saved-jobs-selected' : savedhover || (showJobsActive&&showHeader) , 'my-saved-jobs' : !savedhover }"></div>
			            			
			            		</div>
			            		<div class="inline-block" style="position:relative;">
			            			<a role="button">
			            				<span class="badge" data-ng-show="savedJobsCount>0" data-ng-bind="savedJobsCount"></span>
			                            <span class="hidden-xs" data-msg data-key="header.mysavedjobs"></span>
			                            <span class="hidden-xs caret" data-ng-class="{'text-blue' : savedhover || (showJobsActive&&showHeader) , 'text-grey' : !savedhover }"></span>
			            			</a>
			            		</div>
			            		<div class="header-hover-li" data-ng-class="{'display-block': savedhover || (showJobsActive&&showHeader)  ,'display-none': !savedhover }"></div>
			            	</div>
			             </li>
			            <li data-ng-show="!isHomePage()" data-ng-mouseover="homehover=true;" data-ng-mouseout="homehover=false;" style="margin-left:0px;">
			            	<div class="hand" data-ng-click="goTo('/')">
			            		<div class="inline-block margin-right-6 header-sprite-img">
			            			<div class="sprite_header" data-ng-class="{'home-selected' : homehover , 'home' : !homehover }"></div>
			            		</div>
			            		<div class="inline-block" style="position:relative;">
			            			<a role="button">
			            				<span class="hidden-xs" data-msg data-key="header.home"></span>
			            			</a>
			            		</div>
			            		<div class="header-hover-li" data-ng-class="{'display-block': homehover ,'display-none': !homehover }"></div>
			            	</div>
			            </li>
			            
			                </ul>
			    		
			    </div>
			
			        </div>
			    </div>
			</div>
		</div>
		
		<div class="visible-xs visible-sm hidden-md hidden-lg" data-ng-class="{ 'brand-container-border' : !hasBreadcrumb() }" data-ng-cloak>
		    <div class="container-fluid home">
		        <div class="row mobile-top-bar {{ !hasBreadcrumb() ?'':'mobile-shadow' }}">
		            
		            <div class="hand hamburger-in-active" data-ng-show="alreadyLoggedIn" data-ng-class="{'hamburger-active' : alreadyLoggedIn , 'hamburger-in-active' : !alreadyLoggedIn}" data-ng-click="toggleCandidateMenu()" data-ng-class="{'active' : menuBarMenu}">
		            	<span><img class="mobile-left-hamburger" src="resources/images/icons/hamburger.png"></span>
		            </div>
		            
		            <div>
		                <img class="img-responsive hand" data-ng-click="goTo('/')" src="resources/images/banner/TCS-iBegin-Logo.png" alt="TCS" />
		            </div>
		            
		            <div class="hand" data-ng-click="toggleSideBar()" data-ng-class="{'active' : sideBarOpen}">
		                <span class="glyphicon glyphicon-option-vertical"></span>
		            </div>
		            
		        </div>
		    </div>
		</div>
		<div class="clearfix"></div>
		<div ng-class="{'container-fluid home header-hidden-content' : !( loginActive && alreadyLoggedIn ), 'home header-hidden-content' : ( loginActive && alreadyLoggedIn )}">
	<!-- Not Logged In -->
    <div class="collapsed-content" data-ng-if="!alreadyLoggedIn" data-ng-class="{'noHeight' : !showHeader, 'height-300' : ( showJobsActive || countrySelectionActive ), 'height-90' : ( loginActive && !alreadyLoggedIn ), 'height-150' : ( loginActive && alreadyLoggedIn && isGrs() ), 'height-62' : ( loginActive && alreadyLoggedIn && (!isGrs()) )  }">

        <div class="hand close-cross" data-ng-click="closeExpanded()" data-ng-class="{'repos-cross' : ( loginActive && alreadyLoggedIn )}"></div>

        <ul class="collpased-ul" data-ng-class="{'saved-jobs' : showJobsActive , 'login' : loginActive , 'countries' : countrySelectionActive }">
            <li class="saved-jobs" style="height:350px !important">
                <div class="heading bot-mar-10 font-25-bold" style="font-weight:600;margin-top:30px;"><span data-msg data-key="prereg.mysavedjobs"></span></div>
                <div class="description"><span data-msg data-key="prereg.mysavedjobs.desc"></span></div>

                <div class="jobs-container" style="margin: 0px -20px;">
                    <div class="no-jobs" data-ng-if="savedJobsList.length==0" style="padding-left: 20px;padding-right: 20px;">
                        <div class="container-fluid">
                            <div class="row search-jobs-row">
                                <div class="no-job-text"><span data-msg data-key="prereg.mysavedjobs.no"></span></div>
                                <div class="action" >
                                    <button type="button" class="btn btn-primary" data-ng-click="goTo( '/jobs/search')"><span data-msg data-key="prereg.searchJobs"></span></button>
                                </div>
                            </div>

                            <div class="row" data-ng-if="isGrs()">
                                <div class="font-17-bold bot-mar-10"><span data-msg data-key="prereg.btf"></span></div>
                            </div>

                            <div class="row bot-mar-20" data-ng-if="isGrs()">
                                <div class="function" data-ng-repeat="function in functions">
                                    <div class="hand" data-ng-click="searchfunc(function.id)" data-ng-bind="functionFormat( function.title )+ ' (' + function.count + ')'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="savedJobsList.length>0" class="saved-jobs-carousel">
                    	<div data-uib-carousel data-active="newIndex" data-no-wrap="true">                    		
                    		<div data-uib-slide data-ng-repeat="group in jobGroups" data-index="$index">                   				
                    			<div class="container">
                    				<div class="col-lg-3 col-md-3 job-window hand" data-ng-repeat="job in group">
                    					<div class="container-fluid" data-ng-click="goTo('/jobs/'+job.jobId)">
                    						<div class="row">
                    							<div class="col-lg-12 font-16-bold" data-ng-bind="job.title">
                    							
                    							</div>
                    						</div>
											<div class="row">
                    							<div class="col-lg-12 font-16-regular" data-ng-bind="job.location">
                    							
                    							</div>
                    						</div>
                    						<div class="row">
                    							<div class="col-lg-12 font-16-regular" data-ng-bind="job.jobfunction">
                    						
                    							</div>
                    						</div>
                    						<div class="row">
                    							<div class="col-lg-5 font-16-regular" data-ng-if="noexp()" data-ng-bind="job.experience + ' years'">
                    								
                    							</div>
                    							<div class=" font-14-regular" data-ng-class="{ 'padding-zero col-lg-7' : noexp() , 'col-lg-12' : !noexp() }"><span data-msg data-key="jobDescription.ApplyBy"></span> : {{job.dateApplyBy}}
                    						
                    							</div>
                    						</div>		
                    					</div>
                    					<div class="job-underline"></div>
                    					<div class="job-cross centered-text hand" data-ng-click="removeThisJobFromTray( job )">x</div>
                    				</div>
                    			</div>	
                    		</div>	
                    		<div class="padding-top-20 padding-bottom-20 left-text" style="padding-left:20px;"> <span data-msg data-key="prereg.showing"></span> {{(4*newIndex)+1}} <span data-msg data-key="prereg.to"></span> {{4*(newIndex+1)>savedJobsList.length?savedJobsList.length:4*(newIndex+1)}} <span data-msg data-key="prereg.outof"></span> {{savedJobsList.length}}</div>                    		
                    	</div>                   	
                    </div>                  	
                </div>
            </li>

            <li class="login top-pad-40 bot-pad-40" data-ng-if="(!alreadyLoggedIn)&&isGrs()">
                <div class="font-17-regular float-left">
                    <span data-msg data-key="prereg.log.line1"></span> <span class="bold hand blue-on-hover" data-ng-click="goTo('login')" data-msg data-key="prereg.login"></span> <span data-msg data-key="prereg.newuser"></span> <span class="bold hand blue-on-hover" data-ng-click="goTo('register')" data-msg data-key="prereg.register"></span>
                </div>
                <div class="font-17-regular float-right italicised-font right-pad-30 hand blue-on-hover" data-ng-click="goTo('faqs')">
                    <span data-msg data-key="prereg.haq"></span>
                </div>
            </li>

            <li class="login-non-grs top-pad-40 bot-pad-40" data-ng-if="(!alreadyLoggedIn)&&(!isGrs())">
                <div class="font-14-regular float-left hand" style="width: 50%;" data-ng-click="goTo('/open/application/')">
                    <div class="float-left inline-block top-mar-5 padding-right-10"><img src="resources/images/icons/CV_ico.png" ></div>
                    <div class="float-left inline-block"><span data-msg data-key="prereg.emailcv"></span>
                        <br><span data-msg data-key="prereg.furtherassist"></span></div>
                    <div class="float-right inline-block" style="margin-top:-13px"><img style="margin-top: -3px;" src="resources/images/icons/homeline.png"></div>
                </div>
                <div class="font-14-regular float-left padding-left-30 hand" style="width: 50%;" data-ng-click="goTo('/login')">
                    <div class="float-left inline-block top-mar-5 padding-right-10"><img src="resources/images/icons/offer_ico.png" ></div>
                    <div class="float-left inline-block top-mar-10"><span data-msg data-key="prereg.haveoffer"></span></div>
                </div>
            </li>

            <li class="country-language-selection">
                <ul class="contry-groups top-pad-30 ">
                    <li data-ng-attr-id="{{'continentName'+$index}}" data-ng-repeat="(name, countries) in continents" data-ng-mouseover="selectContinent( name , $index)" data-ng-class="{'active' : isContinentActive(countries) }">
                        <div class="group-name font-17-regular hand" data-ng-bind="name"></div>
                    </li>
                </ul>

                <div class="row country-grid">
                    <div class="col-xs-3" data-ng-repeat="countryGroup in selectedGroupCountries">
                        <div class="country" data-ng-repeat="country in countryGroup" data-ng-class="{'active' : ( selection.country == country.geoCode )}">
                            <div class="flag menu-flag {{'flag-' + country.id}}" data-ng-click="changeLanguage( country, country.defaultLanguageCode , country.defaultLanguageId ,$event)"></div>

                            <span class="country-name" data-ng-bind="country.name" data-ng-click="changeLanguage( country, country.defaultLanguageCode , country.defaultLanguageId ,$event)"></span>
							<span>(</span>
                            <span class="default-language" data-ng-bind="'  EN  '" data-ng-click="changeLanguage( country, 'EN', 1 ,$event)" data-ng-class="{'in-active-language' : ( selection.language != 'EN' )}"></span>
                            <span class="other-languages" data-ng-repeat="other in country.otherLanguages">
										<span class="in-active-separator" data-ng-bind="'|  '"></span>
                            <span class="other-language" data-ng-click="changeLanguage( country, other.code, other.id,$event )" data-ng-bind=" other.code " data-ng-class="{'in-active-language' : ( selection.language != other.code )}"></span>                            
                            </span>
                            <span>)</span>

                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- After Logged In -->
        <div class="collapsed-content" data-ng-if="alreadyLoggedIn" data-ng-class="{'noHeight' : !showHeader, 'height-300' : ( showJobsActive || countrySelectionActive ), 'height-90' : ( loginActive && !alreadyLoggedIn ), 'height-150' : ( loginActive && alreadyLoggedIn && isGrs() ), 'height-62' : ( loginActive && alreadyLoggedIn && (!isGrs()) )  }">

        <div class="hand close-cross" data-ng-click="closeExpanded()" data-ng-class="{'repos-cross' : ( loginActive && alreadyLoggedIn )}"></div>

        <ul class="collpased-ul" data-ng-class="{'saved-jobs' : showJobsActive , 'login' : loginActive , 'countries' : countrySelectionActive }">
            <li class="saved-jobs" style="height:350px !important">
                <div class="heading bot-mar-10 font-25-bold" style="font-weight:600;margin-top:30px;"><span data-msg data-key="prereg.mysavedjobs"></span></div>
                <div class="description"><span data-msg data-key="prereg.mysavedjobs.desc"></span></div>

                <div class="jobs-container" style="margin: 0px -20px;">
                    <div class="no-jobs" data-ng-if="savedJobsList.length==0" style="padding-left: 20px;padding-right: 20px;">
                        <div class="container-fluid">
                            <div class="row search-jobs-row">
                                <div class="no-job-text"><span data-msg data-key="prereg.mysavedjobs.no"></span></div>
                                <div class="action" >
                                    <button type="button" class="btn btn-primary" data-ng-click="goTo( '/jobs/search')"><span data-msg data-key="prereg.searchJobs"></span></button>
                                </div>
                            </div>

                            <div class="row" data-ng-if="isGrs()">
                                <div class="font-17-bold bot-mar-10"><span data-msg data-key="prereg.btf"></span></div>
                            </div>

                            <div class="row bot-mar-20" data-ng-if="isGrs()">
                                <div class="function" data-ng-repeat="function in functions">
                                    <div class="hand" data-ng-click="searchfunc(function.id)" data-ng-bind="functionFormat( function.title )+ ' (' + function.count + ')'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="savedJobsList.length>0" class="saved-jobs-carousel">
                    	<div data-uib-carousel data-active="newIndex" data-no-wrap="true">                    		
                    		<div data-uib-slide data-ng-repeat="group in jobGroups" data-index="$index">                   				
                    			<div class="container">
                    				<div class="col-lg-3 col-md-3 job-window hand" data-ng-repeat="job in group">
                    					<div class="container-fluid" data-ng-click="goTo('/jobs/'+job.jobId)">
                    						<div class="row">
                    							<div class="col-lg-12 font-16-bold" data-ng-bind="job.title">
                    							
                    							</div>
                    						</div>
											<div class="row">
                    							<div class="col-lg-12 font-16-regular" data-ng-bind="job.location">
                    							
                    							</div>
                    						</div>
                    						<div class="row">
                    							<div class="col-lg-12 font-16-regular" data-ng-bind="job.jobfunction">
                    						
                    							</div>
                    						</div>
                    						<div class="row">
                    							<div class="col-lg-5 font-16-regular" data-ng-if="noexp()" data-ng-bind="job.experience + ' years'">
                    								
                    							</div>
                    							<div class=" font-14-regular" data-ng-class="{ 'padding-zero col-lg-7' : noexp() , 'col-lg-12' : !noexp() }"><span data-msg data-key="jobDescription.ApplyBy"></span> : {{job.dateApplyBy}}
                    						
                    							</div>
                    						</div>		
                    					</div>
                    					<div class="job-underline"></div>
                    					<div class="job-cross centered-text hand" data-ng-click="removeThisJobFromTray( job )">x</div>
                    				</div>
                    			</div>	
                    		</div>	
                    		<div class="padding-top-20 padding-bottom-20 left-text" style="padding-left:20px;"> <span data-msg data-key="prereg.showing"></span> {{(4*newIndex)+1}} <span data-msg data-key="prereg.to"></span> {{4*(newIndex+1)>savedJobsList.length?savedJobsList.length:4*(newIndex+1)}} <span data-msg data-key="prereg.outof"></span> {{savedJobsList.length}}</div>                    		
                    	</div>                   	
                    </div>                  	
                </div>
            </li>

            <li class="login noPad" >
                <div data-ng-include="'resources/app/components/user-info-bar/user-info-bar.html'" data-ng-controller="UserInfoBarController"></div>
            </li>

            <li class="country-language-selection">
                <ul class="contry-groups top-pad-30 ">
                    <li data-ng-attr-id="{{'continentName'+$index}}" data-ng-repeat="(name, countries) in continents" data-ng-mouseover="selectContinent( name , $index)" data-ng-class="{'active' : isContinentActive(countries) }">
                        <div class="group-name font-17-regular hand" data-ng-bind="name"></div>
                    </li>
                </ul>

                <div class="row country-grid">
                    <div class="col-xs-3" data-ng-repeat="countryGroup in selectedGroupCountries">
                        <div class="country" data-ng-repeat="country in countryGroup" data-ng-class="{'active' : ( selection.country == country.geoCode )}">
                            <div class="flag menu-flag {{'flag-' + country.id}}" data-ng-click="changeLanguage( country, country.defaultLanguageCode , country.defaultLanguageId ,$event)"></div>

                            <span class="country-name" data-ng-bind="country.name" data-ng-click="changeLanguage( country, country.defaultLanguageCode , country.defaultLanguageId ,$event)"></span>
							<span>(</span>
                            <span class="default-language" data-ng-bind="'  EN  '" data-ng-click="changeLanguage( country, 'EN', 1 ,$event)" data-ng-class="{'in-active-language' : ( selection.language != 'EN' )}"></span>
                            <span class="other-languages" data-ng-repeat="other in country.otherLanguages">
										<span class="in-active-separator" data-ng-bind="'|  '"></span>
                            <span class="other-language" data-ng-click="changeLanguage( country, other.code, other.id,$event )" data-ng-bind=" other.code " data-ng-class="{'in-active-language' : ( selection.language != other.code )}"></span>                            
                            </span>
                            <span>)</span>

                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>    		
    		<div id="home-page-content" style="opacity : 0;background-color: #242e3e;">
    		<div class="walk-in-and-slides-container" id="first-fold" >
		<div class="visible-xs visible-sm visible-md hidden-lg">
		<div class="walk-in-mobile">
			<span class="walk-in-label">USA_object</span>
			<div class="walk-in-container">
			
				<div data-uib-carousel data-active="0"  data-active="0" data-interval="2000" data-no-wrap="noWrapSlides" data-do-not-show-indicators="true">
											<div class="hand" data-uib-slide data-index="0" data-ng-click="viewWalkIn( 34254 )">
							<div class="walkin-title">ESRM Drive</div>
							<div class="walkin-day-date">Wednesday 23 Aug 2017</div>
							<div class="walkin-location">Dongargarh,Hyderabad,Hyderabad</div>
							<div class="walkin-time"><span data-msg data-key="prereg.regtime"></span> <span class="time">10:00 - 12:00</span></div>
						</div>
											<div class="hand" data-uib-slide data-index="1" data-ng-click="viewWalkIn( 34253 )">
							<div class="walkin-title">Weekday Drive _ Asp.net</div>
							<div class="walkin-day-date">Thursday  24 Aug 2017</div>
							<div class="walkin-location">Hindupur,Mumbai,Mumbai</div>
							<div class="walkin-time"><span data-msg data-key="prereg.regtime"></span> <span class="time">10:00 - 13:00</span></div>
						</div>
									</div>
						
			</div>
		</div>	
	</div>
	
	<div class="hidden-xs hidden-sm hidden-md visible-lg">
		<div class="walk-in-web">
				<div class="container-fluid">
					
					<div class="row">
						<div class="walk-in-label">USA_object</div>
						<div class="walkin-arrow-right"></div>
						<div class="walk-in-container">
						
							<div class="walkin-ticker" data-uib-carousel data-active="0"  data-interval="walkInTransitionTime" data-no-wrap="noWrapSlides" data-do-not-show-indicators="true">
																<div class="hand" data-uib-slide data-index="0" data-ng-click="viewWalkIn( 34254 )">
										<div class="walkin-day">Wednesday</div>
										<div class="walkin-date">23 Aug 2017</div>							
										
										<div class="walkin-locations">Dongargarh,Hyderabad,Hyderabad</div>
										<div class="walkin-title">ESRM Drive</div>
										<div class="walkin-heading">Registration Time</div>
										<div class="walkin-time">10:00 - 12:00</div>
										<!--<button data-ng-click="viewWalkIn( 34254 )" type="button" class="btn btn-sm btn-transparent"><span data-msg data-key="prereg.viewdetail"></span></button>-->
								</div>
																<div class="hand" data-uib-slide data-index="1" data-ng-click="viewWalkIn( 34253 )">
										<div class="walkin-day">Thursday </div>
										<div class="walkin-date">24 Aug 2017</div>							
										
										<div class="walkin-locations">Hindupur,Mumbai,Mumbai</div>
										<div class="walkin-title">Weekday Drive _ Asp.net</div>
										<div class="walkin-heading">Registration Time</div>
										<div class="walkin-time">10:00 - 13:00</div>
										<!--<button data-ng-click="viewWalkIn( 34253 )" type="button" class="btn btn-sm btn-transparent"><span data-msg data-key="prereg.viewdetail"></span></button>-->
								</div>
															</div>
							
						</div>
					</div>
					
				</div>
			</div>
	</div>
		
	<div class="custom-home-carousal">
		<div class="banner-mobile">
			<div data-uib-carousel data-active="0"  data-interval="5000" data-no-wrap="noWrapSlides">
														<div data-uib-slide data-index="0" data-ng-click="open( 'https://www.tcs.com/')">
						<img data-ng-src="{{getBannerUrl( 181 )}}"/>
					</div>
																			<div data-uib-slide data-index="1" data-ng-click="open( 'https://www.tcs.com/')">
						<img data-ng-src="{{getBannerUrl( 261 )}}"/>
					</div>
																			<div data-uib-slide data-index="2" data-ng-click="open( 'https://www.tcs.com/')">
						<img data-ng-src="{{getBannerUrl( 210 )}}"/>
					</div>
												</div>
		</div>	
	</div>
	
</div>
<div class="search-box-container" style="z-index:3;">
	<div class="search-boxes row">
		<div class="search-jobs">
			<div class="input-form search-skills" data-ng-class="{ 'noexphome' : !noexp() || !noexpus() }">
				<input type="text" maxlength="25"
				class="form-control input-custom"
				ng-model="searchObject.skills" placeholder="{{getholders('prereg.placeholder.enterkey')}}"/>
			</div>
			<div class="input-form search-locations pre-reg-typeahead" data-ng-class="{ 'noexphome' : !noexp() || !noexpus() }">
				<div ng-controller="GenericTypeaheadController" id="homepageLocation">
					<input type="text" class="form-control input-custom padding-right-30"
						uib-typeahead-min-length="3" placeholder="{{getholders('prereg.placeholder.enterloc')}}" multipletypeahead parsePlacement="auto top-left" 
						data-uib-typeahead="typeaheadValues as typeaheadValues.val for typeaheadValues in values" property1="locObj.locationString"
										ng-model="searchObject.location" home="true"
										data-typeahead-on-select=selectedLocationHome($item,$model,$label)
										data-ng-keydown="typeaheadCheck( locObj.locationString , $event )"
										data-ng-change="multipleTypeahead( searchObject.location , 'G', 'Trga2l24alMEZGRgsH2jEaTk2HU=' , locObj.locationString );">
				<div style="position: absolute;top: 17px;right: 10px;" data-ng-show="typeahead.fetching">
					<img alt="loading" src="resources/images/loadingTypeahead.gif" style="height: 20px;">
				</div>	
				</div>	
			</div>
			<div class="input-form search-experience" data-ng-if="noexp() && noexpus()">
				<div class="btn-group" uib-dropdown style="width: 100%;">
					<button id="single-button" type="button"
						class="btn btn-primary input-custom select-dropdown-home open-custom" uib-dropdown-toggle
						ng-disabled="disabled" style="text-align: left;height:56px;font-size:18px;" data-ng-class="{'color-1d1d1d':(searchObject.experience!='')}">
						<div style="width: 90%; overflow: hidden;">{{Experience.expName}}</div>
						<span class="caret caret-home" style="color:#929191"></span>
					</button>
					<ul class="dropdown-menu dropMenu" uib-dropdown-menu role="menu"
						aria-labelledby="single-button" style="width:100%;top:-123px;">
						<li role="menuitem" class="hand lihover"
							style="padding: 3px 3px 5px 10px;color: #929191;"
							ng-click="searchObject.experience='';Experience.expName='Select';closedrop();">Select</li>
						<li role="menuitem" class="hand lihover"
							style="padding: 3px 3px 5px 10px;"
							ng-click="dropmenu(exp.id,exp.name);closedrop();"
							ng-repeat="exp in experienceList">{{exp.name}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="search-job-btn">
			<div class="row  custom-row"><button class="btn btn-primary home btn-block btn-color" data-ng-click="doSearch()"><span data-msg data-key="home.seachJob"></span></button></div>
		</div>
	</div>
</div>

<div class="guided-section margin-minus-90" id="middle-fold" data-ng-if="!(getCountry()==230 || getCountry()=='230')">
	<div class="container-fluid width-full centered-text" style="height:100%;">
		<div class="row" data-ng-class="{ 'padding-top-56' : isSafari() }">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-zero">
				<div class="guided-image-container" >
					<div class="guided-img">
						<img data-ng-src="resources/images/icons/guided-search-icon.png" alt="guided">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 font-40-bold" style="margin-top: 26px;">
				<div style="padding-bottom:10px;"><span data-msg data-key="home.guidedHeading"></span></div>
				<div style="margin: 0 auto;width: 2.4%;border-radius: 2px;height: 2px;background-color: #fff;"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 guided-banner-text">
				Guided search will enable you to find job opportunities across functions and experience levels.

			</div>			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-zero">
				<div class="btn btn-primary btn-toguided hand" style="outline: 0px;" data-ng-click="goTo('/guided-search/function')">
					<span data-msg data-key="home.guidedbtn"></span>
				</div>
			</div>
		</div>
	</div>
</div>

    		</div>
    		
			<div data-ng-if="!isHomePage()">
    		<div data-ng-view data-ng-cloak></div>
    		</div>
    		
    		<div class="footer" id="footer" data-ng-class="{'footer-handle': noBothSections() }" data-ng-cloak>
   <div class="container-fluid home">
      <div class="row" data-ng-if="!(selection.countryId=='230')">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
                  <div class="footer-section">
                     <div class="footer-section-heading">
                        LEGAL
                     </div>
                     <ul class="row footer-links">
                        <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><a ng-click="openLegalTermsConditionsModal()">Terms And Conditions</a></li>
                        
                        <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><a ng-click="openLegalPrivacyPolicyModal()">Privacy Policy</a></li>
                       
                        <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><a ng-click="openLegalDisclaimerModal()">Disclaimer</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
                  <div class="footer-section">
                     <div class="footer-section-heading">
                        CONNECT WITH US
                     </div>
                     <ul class="row footer-links">
                        <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><a data-ng-click="goTo('/contact-us')">Contact Us</a></li>
                       
                        <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><a data-ng-click="goTo('/faqs')">FAQs</a></li>
                     
                        <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><a data-ng-click="goToLink('https://www.facebook.com/TataConsultancyServices')">Facebook</a></li>
                       
                        <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><a data-ng-click="goToLink('https://twitter.com/TCS')">Twitter</a></li>
                       
                        <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><a data-ng-click="goToLink('https://www.linkedin.com/company/tata-consultancy-services/')">Linked In</a></li>
                      																
                        <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><a  data-ng-click="goToLink('https://plus.google.com/+TataConsultancyServices')">Google+</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
<div class="row" data-ng-if="selection.countryId=='230'">
   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="footer-section">
               <div class="footer-section-heading" style="
                  padding-bottom: 0px;
                  ">
                  LEGAL
               </div>
               <ul class="row footer-links" style="
                  font-size: 12px;
                  ">
                  <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="
                     font-size: 12px;
                     "><a ng-click="openLegalTermsConditionsModal()" style="">Terms And Conditions</a></li>
                 
                  <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="
                     font-size: 12px;
                     "><a ng-click="openLegalPrivacyPolicyModal()">Privacy Policy</a></li>
                 
                  <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="
                     font-size: 12px;
                     "><a ng-click="openLegalDisclaimerModal()">Disclaimer</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="
            ">
            <div class="footer-section">
               <div class="footer-section-heading" style="
                  padding-bottom: 0px;
                  ">
                  COMPLIANCE
               </div>
               <ul class="row footer-links">
                  <li class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="
                     font-size: 12px;
                     "><a data-ng-click="goTo('/lca')">Labor Condition Applications</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="footer-section">
               <div class="footer-section-heading" style="
                  padding-bottom: 0px;
                  ">
                  CONNECT WITH US
               </div>
               <ul class="row footer-links">
                  <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="
                     font-size: 12px;
                     "><a data-ng-click="goTo('/contact-us')">Contact Us</a></li>
                 
                  <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="
                     font-size: 12px;
                     "><a data-ng-click="goTo('/faqs')">FAQs</a></li>
                 
                  <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="
                     font-size: 12px;
                     "><a data-ng-click="goToLink('https://www.facebook.com/TataConsultancyServices')">Facebook</a></li>
                 
                  <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="
                     font-size: 12px;
                     "><a data-ng-click="goToLink('https://twitter.com/TCS')">Twitter</a></li>
                  
                  <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="
                     font-size: 12px;
                     "><a data-ng-click="goToLink('https://www.linkedin.com/company/tata-consultancy-services/')">Linked In</a></li>
                 																		
                  <li class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="
                     font-size: 12px;
                     "><a data-ng-click="goToLink('https://plus.google.com/+TataConsultancyServices')">Google+</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
   <div class="copy-right-row">
      <div class="container-fluid home">
         <div class="hidden-xs hidden-sm visible-md visible-lg">
            <div class="row">
               <div class="col-xs-12 col-sm-6 text-left">
                  &copy; 2010-<span data-ng-bind="currentYear"></span> Tata Consultancy Services Limited. All Rights Reserved.
               </div>
               <div class="col-xs-12 col-sm-6 text-right">
                  A part of TATA Group.
               </div>
            </div>
         </div>
         <div class="visible-xs visible-sm hidden-md hidden-lg">
            <div class="row">
               <div class="col-xs-12 text-center">
                  &copy; 2010-<span data-ng-bind="currentYear"></span> Tata Consultancy Services Limited. All Rights Reserved.
               </div>
               <div class="col-xs-12  text-center">
                  A part of TATA Group.
               </div>
            </div>
         </div>
      </div>
   </div>
   
   </div>    	</div>
       	<div class="candidate-menu-container visible-xs visible-sm" data-ng-show="prelogpages()"
		data-ng-class="{'MenuOnSlide':menuBarMenu}" style="position: fixed;height: 100%;background-color: rgb(41, 54, 73);z-index:999;"
		data-ng-include="'resources/app/components/left-sidebar/left-sidebar.html'"></div>
        <div data-ng-include="'resources/app/includes/side-bar/side-bar.html'"></div> 
        
        <div id="snackbar" class=" {{ snackBarStatus ? 'snackbar-success':'snackbar-error'}}">
			<div class="float-left" style="padding-left:10px;"><img src="resources/images/job/toast-icon-jobs.png"></img></div><div data-ng-bind="snackBarMessage"></div>
		</div>
        
        <script src="resources/external/js/angular/angular.js"></script>
        <script src="resources/external/js/angular/angular-route.js"></script>
        <script src="resources/external/js/angular/angular-animate.js"></script>
        <script src="resources/external/js/angular/angular-touch.js"></script>
        <script src="resources/external/js/angular/angular-sanitize.js"></script>
        <script src="resources/external/js/ui-bootstrap/ui-bootstrap-tpls.js"></script>

		<script src="resources/external/js/moment/moment.js"></script>
        
        <script src="resources/external/js/require/require.js" data-main="resources/app/main"></script>
    </body>
</html>
